h1, h2, h3, h4, h5, h6, .heading {
  font-family: "Playfair Display", serif;
}

.paragraph, p, span, a, li, button, input, textarea {
  font-family: "DM Sans", sans-serif;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}