* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0e0e0e;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}